
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <h2>İletişim</h2>

    <p>
        Telefon Numarası: +90 555 111 22 33
    </p>
</div>

